
/*Landing-----------Landing-----------Landing-----------Landing-----------Landing-----------Landing*/

/*background landing*/
.body-landing
  {
  text-align: center;
  background-image: url('NetflixBackground.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  }
 
/* Title */
#landing-title
  {
  position: fixed;
  top:50%;
  transform: translateY(-50%);
  width: 100%;
  text-align:center;
  align-items: center;
  justify-content: center;
  padding: 1%;
  display: flex;
  }

.titleBox
  {
  position: relative;
  left: 0;
  width: 80%;
  height: 50%;
  padding-bottom:30px;
  padding-top: 30px;
  color: #EA3B44;
  opacity: 90%;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 6em;
  line-height: 120%;
  font-family: 'Anton', sans-serif;
  padding-bottom: 1%;
  margin-right:3.4%;
  }
/*Landing-----------Landing-----------Landing-----------Landing-----------Landing-----------Landing*/

/*Landing Bar*/
.LandingBar
  {
  background: black;
  position: auto;
  left: 0;
  height: 10%;
  width: 100%;
  margin-top: 3%;
  margin-bottom:5%;
  opacity: 60%;
  padding-top:2.5%;
  padding-bottom:0.3%;
  }
/*Go to Band Page*/
.btn
   {
   background: #E5303A;
   opacity: 90%;
   border-radius: 10px;
   border: 2px solid white;
   cursor: pointer;
   color: white;
   font-family: Verdana;
   font-size: 1em;
   font-weight:bold;
   text-transform: uppercase;
   letter-spacing: 1px;
   padding: 5px 10px 5px 10px;
   margin-left:5%;
   margin-right:5%;
   }
 /*Landing-----------Landing-----------Landing-----------Landing-----------Landing-----------Landing*/
 
 /*Squid Game Button*/
.btn0a
   {
   background: #E5303A;
   opacity: 90%;
   border-radius: 10px;
   border: 2px solid white;
   cursor: pointer;
   color: white;
   font-family: Verdana;
   font-size: 1em;
   font-weight:bold;
   text-transform: uppercase;
   letter-spacing: 1px;
   padding: 5px 10px 5px 10px;
   margin-left:5%;
   margin-right:2.4%;
   }
   
/*Stranger Things Button*/
 .btn0b
   {
   background: #E5303A;
   opacity: 90%;
   border-radius: 10px;
   border: 2px solid white;
   cursor: pointer;
   color: white;
   font-family: Verdana;
   font-size: 1em;
   font-weight:bold;
   text-transform: uppercase;
   letter-spacing: 1px;
   padding: 5px 10px 5px 10px;
   }
 
/*Wednesday Button*/
 .btn0c
   {
   background: #E5303A;
   opacity: 90%;
   border-radius: 10px;
   border: 2px solid white;
   cursor: pointer;
   color: white;
   font-family: Verdana;
   font-size: 1em;
   font-weight:bold;
   text-transform: uppercase;
   letter-spacing: 1px;
   padding: 5px 10px 5px 10px;
   margin-left:3%;
   margin-right:5%;
   }
   
/*Top Button Settings*/
.alignV
   {
   position:relative;
   top: 50%;
   transform: translateY(-50%);
   align-items: center;
   justify-content: center;
   }
  
.btn-space
{
  background: none;
  opacity: 0;
  width: 50px;
}

.btn:hover, .btn:focus
 {
  background-color: #F4747A;
  color: black;
 }

/*Band Page Buttons*/
.btn0a:hover, .btn:focus
 {
  background-color: #F4747A;
  color: black;
 }
 
.btn0b:hover, .btn:focus
 {
  background-color: #F4747A;
  color: black;
 }
 
 .btn0c:hover, .btn:focus
 {
  background-color: #F4747A;
  color: black;
 }
 
/*Created By*/
#landing-creator-name
{
  position: fixed;
  left: 0;
  top:95%;
  transform: translateY(-50%);
  width: 100%;
  text-align:center;
  align-items: center;
  justify-content: center;
  padding: 1%;
  display: flex;
}

.creator-name-box
{
  position: relative;
  left: 0;
  width: 80%;
  height: 50%;
  padding-bottom:30px;
  padding-top: 30px;
  color: #3B3D3D;
  opacity: 90%;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 2.5em;
  line-height: 120%;
  font-family: 'Permanent Marker', cursive;
  padding-bottom: 2%;
  margin-right:1.8%;
}

/*Landing Text*/

#myDIV1 {
    position: fixed;
    top: 50%;
    transform: translateY(-43%);
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    flex-direction: row;
    font-family: Verdana;
    display:none;
    padding-right:25%;
    padding-left:22.2%;
    
      }

.myDIVbox1
{
position: relative;
background:black;
opacity: 80%;
width: 100%;
height: 50%;
padding-bottom: 30px;
padding-top: 30px;
color:white;
padding-left: 30px;
padding-right: 30px;
font-size:0.9em;
}

#myDIV2 {
    position: fixed;
    top: 50%;
    transform: translateY(-43%);
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1%;
    display: inline-flex;
    flex-direction: row;
    font-family: Verdana;
    display:none;
    padding-right: 25%;
    padding-left: 24%;
    
}

.myDIVbox2
{
position: relative;
right: 25px;
width: 100%;
height: 50%;
padding-bottom: 30px;
padding-top: 30px;
color:white;
background:black;
opacity: 80%;
padding-left: 30px;
padding-right: 30px;
font-size:0.8em;
}

#myDIV3 {
    position: fixed;
    top: 50%;
    transform: translateY(-43%);
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1%;
    display: inline-flex;
    flex-direction: row;
    font-family: Verdana;
    display:none;
    padding-right:25%;
    padding-left: 24%;
    
      }

.myDIVbox3
{
position: relative;
right: 25px;
width: 100%;
height: 50%;
padding-bottom: 20px;
padding-top: 20px;
color:white;
background:black;
opacity: 80%;
padding-left: 30px;
padding-right: 30px;
font-size:0.9em;

}

/*-----------------Squid-Game------Squid-Game------Squid-Game--------Squid-Game-------Squid-Game---------Squid-Game-------------------------*/
/*background*/
.body-SquidGame  {
      background-color: #D6F1F0;
      text-align: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size:cover;
      }
/*--------------------images----------------------*/
/*banner*/
.box4 {
  width: auto;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.flex-container2 {
                 display: flex;
                 margin-left:10%;
                 margin-right: 10%;
                 margin-bottom: 10px;
                 flex-direction: row;
                 justify-content: center;
                 align-items:center;
                 background-repeat: no-repeat;
                 width:80%;
}

.flex-container2 > div {
                       margin: 10px;
                       width: 100%;
                       }
/*--------------------------*/
/*images*/
.box3 {
      width: auto;
      height: auto;
      margin-right: 20%;
      margin-left: 20%;
      }
/*------------------------------------------*/
/*MainBox*/
.flex-container1 {
                 display: flex;
                 margin-bottom: 10px;
                 flex-direction: row;
                 justify-content:center;
                 align-items: center;
}
.flex-container1 > div {
                       margin: 10px;
                       width: 25%;
                       }
/*--------------------------*/
/*Main Box (All)*/
.box1a {
      width: auto;
      height:380px;
      margin-right: auto;
      margin-left: auto;
      padding-top: 1px;
      padding-bottom: 20px;
}
      
.box1b {
      width: auto;
      height:380px;
      margin-right: auto;
      margin-left: auto;
      padding-top: 1px;
      padding-bottom: 20px;
}
      
.box1c {
      width: auto;
      height:380px;
      margin-right: auto;
      margin-left: auto;
      padding-top: 1px;
      padding-bottom: 20px;
      }
      
/*------------------------------------------*/
/*Title*/
p1  {
    color: #037a76;
    font-family: Georgia;
    font-size: 1.8em;
    width:auto;
    }
/*--------------------------*/
/*Title Boxes*/
.box2 {
        width: auto;
        margin-right: 10px;
        margin-left: 10px;
        }
/*--------------------------*/
/*Artist*/
p2 {
   color:#037a76;
   font-family:Verdana;
   font-size: 1.25em;
   }
/*--------------------------*/
/*Lyrics All*/
p3 {
    color:#05847F;
    font-family:Courier;
    font-size: 0.75em;
    }
/*------------------------------------------*/

/*Websites*/
.flex-container-bottom1 {
                       display: inline-flex;
                       background-color: #3BB6B1;
                       flex-direction: row;
                       justify-content: center;
                       align-items: center;
                       width: 80%;
                       margin-bottom: 10px;
                       padding-bottom: 1%;
                       padding-top: 1%;
                       }
/*--------------------------*/
.flex-container-bottom1 > div {
                             margin-left: auto;
                             margin-right: auto;
                             width: 25%;
                             }
/*------------------------------------------*/
/*Music links Not in Use*/
.flex-container-bottom2
 {
 display: inline-flex;
 background-color:#7B5B35;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 width: 80%;
 margin-bottom: 10px;
 padding-bottom: 1%;
 padding-top: 1%;
 }
                        
.flex-container-bottom2 > div
 {
 margin-right: auto;
 margin-left: auto;
 width:25%;
 }
 
/*--------------------------*/
/*Links Wiki*/
p4 {
   color: white;
   font-family:Verdana;
   font-size: 1em;
   margin-top: 0.75%;
   margin-bottom: 0.75%;
   }
 /*-----------------------------------------------------*/
/*info*/
.box5 {
      width: 80%;
      height:auto;
      align-items:center;
      margin-right: 10%;
      margin-left: 10%;
      padding-top: 10px;
      padding-bottom: 10px;
      background: #F0619F;
      align-items: auto;
      }

/*Who Is*/
p5 {
  color:white;
  font-family:verdana;
  font-size: 1em;
  margin-top:0.75%;
  margin-bottom:0.75%;
  }
/*email       */
.flex-container-bottom4 {
                        display: inline-flex;
                        flex-direction: row;
                        background: #037a76;
                        justify-content: center;
                        align-items: center;
                        width: 175px  ;
                        margin-bottom: 0.5%;
                        padding-bottom: 0.5%;
                        padding-top: 0.5%;
                        }
                        
.flex-container-bottom4 > div {
                              margin-right: 0.5%;
                              margin-left:0.5%;
                              width:100%;
                              }
/*Email Creator*/
p6 {
  color:white;
  font-family:verdana;
  font-size: 1em;
  margin-top:0.75%;
  margin-bottom:0.75%;
  }
  
.btn2a
 {
 background: #ed1b76;
 opacity: 1;
 border-radius: 10px;
 border: 2px solid white;
 cursor: pointer;
 color: white;
 font-family: Verdana;
 font-size: 1em;
 font-weight:bold;
 text-transform: uppercase;
 letter-spacing: 1px;
 padding: 5px 10px 5px 10px;
 margin-left:1.5%;
 margin-right:19.5%;

 }

.btn2b
 {
 background: #ed1b76;
 opacity: 1;
 border-radius: 10px;
 border: 2px solid white;
 cursor: pointer;
 color: white;
 font-family: Verdana;
 font-size: 1em;
 font-weight:bold;
 text-transform: uppercase;
 letter-spacing: 1px;
 padding: 5px 10px 5px 10px;
 margin-left:22%;
 margin-right:4.5%;
 }


 
.alignV
  {
    position:relative;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
  }
  
.btn2a-space
{
  background: none;
  opacity: 0;
  width: 50px;
}

.btn2a:hover, .btn:focus
 {
  background-color: #F89AC2;
  color: black;
 }

.btn2b-space
{
  background: none;
  opacity: 0;
  width: 50px;
}

.btn2b:hover, .btn:focus
 {
  background-color:#F89AC2;
  color: black;
 }
/*------------------------------------------Stranger Things----------------------------------------*/
/*background*/
.body-StrangerThings  {
      background-color: #E6777C;
      text-align: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size:cover;
      }
/*--------------------images----------------------*/
/*banner*/
.box24 {
  width: 70%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.flex-container22 {
                 display: flex;
                 margin-left:10%;
                 margin-right: 10%;
                 margin-bottom: 10px;
                 flex-direction: row;
                 justify-content: center;
                 align-items:center;
                 background-repeat: no-repeat;
                 width:80%;
}

.flex-container22 > div {
                       margin: 10px;
                       width: 100%;
                       }
/*--------------------------*/
/*images*/
.box23 {
      width: auto;
      height: auto;
      margin-right: 20%;
      margin-left: 20%;
      }
/*------------------------------------------*/
/*MainBox*/
.flex-container21 {
                 display: flex;
                 margin-bottom: 10px;
                 flex-direction: row;
                 justify-content:center;
                 align-items: center;
}
.flex-container21 > div {
                       margin: 10px;
                       width: 25%;
                       }
/*--------------------------*/
/*Main Box (All)*/
.box21a {
      width: auto;
      height:370px;
      margin-right: auto;
      margin-left: auto;
      padding-top: 1px;
      padding-bottom: 20px;
      }
      
.box21b {
      width: auto;
      height:370px;
      margin-right: auto;
      margin-left: auto;
      padding-top: 1px;
      padding-bottom: 20px;
}
      
.box21c {
      width: auto;
      height:370px;
      margin-right: auto;
      margin-left: auto;
      padding-top: 1px;
      padding-bottom: 20px;
      }
      
/*------------------------------------------*/
/*Title*/
p21  {
    color: #9A0A12;
    font-family: Georgia;
    font-size: 2.25em;
    width:auto;
    }
/*--------------------------*/
/*Title Boxes*/
.box22 {
        width: auto;
        margin-right: 10px;
        margin-left: 10px;
        }
/*--------------------------*/
/*Artist*/
p22 {
   color:#9A0A12;
   font-family:Verdana;
   font-size: 1.25em;
   }
/*--------------------------*/
/*Lyrics All*/
p23 {
    color:#9A0A12;
    font-family:Courier;
    font-size: 0.75em;
    }
/*------------------------------------------*/

/*Actor Wiki*/
.flex-container-bottom21 {
                       display: inline-flex;
                       background-color: #E52F38;
                       flex-direction: row;
                       justify-content: center;
                       align-items: center;
                       width: 80%;
                       margin-bottom: 10px;
                       padding-bottom: 1%;
                       padding-top: 1%;
                       }
/*--------------------------*/
.flex-container-bottom21 > div {
                             margin-left: auto;
                             margin-right: auto;
                             width: 25%;
                             }

p24 {
   color: white;
   font-family:Verdana;
   font-size: 1em;
   margin-top: 0.75%;
   margin-bottom: 0.75%;
   }
/*------------------------------------------*/
/*Music links Not in Use*/
.flex-container-bottom22
 {
 display: inline-flex;
 background-color: #9767F5;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 width: 80%;
 margin-bottom: 10px;
 padding-bottom: 1%;
 padding-top: 1%;
 }
                        
.flex-container-bottom22 > div
 {
 margin-right: auto;
 margin-left: auto;
 width:25%;
 }

/*------------------------------------------*/

/*info*/
.box25 {
      width: 80%;
      height:auto;
      align-items:center;
      margin-right: 10%;
      margin-left: 10%;
      padding-top: 10px;
      padding-bottom: 10px;
      background: #B6111A;
      align-items: auto;
      }

/*Who Is*/
p25 {
  color:white;
  font-family:verdana;
  font-size: 1em;
  margin-top:0.75%;
  margin-bottom:0.75%;
  }
/*Email*/
.flex-container-bottom24 {
                        display: inline-flex;
                        flex-direction: row;
                        background: #D24A51;
                        justify-content: center;
                        align-items: center;
                        width: 175px  ;
                        margin-bottom: 0.5%;
                        padding-bottom: 0.5%;
                        padding-top: 0.5%;
                        }
                        
.flex-container-bottom24 > div {
                              margin-right: 0.5%;
                              margin-left:0.5%;
                              width:100%;
                              }
/*Email Creator*/
p26 {
  color:white;
  font-family:verdana;
  font-size: 1em;
  margin-top:0.75%;
  margin-bottom:0.75%;
  }
  
.btn22a
 {
 background: #910B12;
 opacity: 1;
 border-radius: 10px;
 border: 2px solid white;
 cursor: pointer;
 color: white;
 font-family: Verdana;
 font-size: 1em;
 font-weight:bold;
 text-transform: uppercase;
 letter-spacing: 1px;
 padding: 5px 10px 5px 10px;
 margin-left:3%;
 margin-right:18.4%;

 }

.btn22b
 {
 background: #910B12;
 opacity: 1;
 border-radius: 10px;
 border: 2px solid white;
 cursor: pointer;
 color: white;
 font-family: Verdana;
 font-size: 1em;
 font-weight:bold;
 text-transform: uppercase;
 letter-spacing: 1px;
 padding: 5px 10px 5px 10px;
 margin-left:15.2%;
 
 }
.btn22c
 {
 background: #910B12;
 opacity: 1;
 border-radius: 10px;
 border: 2px solid white;
 cursor: pointer;
 color: white;
 font-family: Verdana;
 font-size: 1em;
 font-weight:bold;
 text-transform: uppercase;
 letter-spacing: 1px;
 padding: 5px 10px 5px 10px;
 margin-left:0.5%;
 }

 
.alignV
  {
    position:relative;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
  }
  
.btn22a-space
{
  background: none;
  opacity: 0;
  width: 50px;
}

.btn22a:hover, .btn:focus
 {
  background-color: #DE3B44;
  color: black;
 }

.btn22b-space
{
  background-color: none;
  opacity: 0;
  width: 50px;
}

.btn22b:hover, .btn:focus
 {
  background-color: #DE3B44;
  color: black;
 }
 
.btn22c-space
{
  background-color: none;
  opacity: 0;
  width: 50px;
}

.btn22c:hover, .btn:focus
 {
  background-color: #DE3B44;
  color: black;
 }
  
/*------------------------------------------Wednesday----------------------------------------*/

/*background*/
.body-wednesday  {
      background-color: #413E4E;
      text-align: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size:cover;
      }
/*--------------------images----------------------*/
/*banner*/
.box34 {
  width: auto;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.flex-container32 {
                 display: flex;
                 margin-left:10%;
                 margin-right: 10%;
                 margin-bottom: 10px;
                 flex-direction: row;
                 justify-content: center;
                 align-items:center;
                 background-repeat: no-repeat;
                 width:80%;
}

.flex-container32 > div {
                       margin: 10px;
                       width: 100%;
                       }
/*--------------------------*/
/*images*/
.box33 {
      width: auto;
      height: auto;
      margin-right: 20%;
      margin-left: 20%;
      }
/*------------------------------------------*/
/*MainBox*/
.flex-container31 {
                 display: flex;
                 margin-bottom: 10px;
                 flex-direction: row;
                 justify-content:center;
                 align-items: center;
}
.flex-container31 > div {
                       margin: 10px;
                       width:25%;
                       }
/*--------------------------*/
/*Main Box (All)*/
.box31a {
      width: auto;
      height:325px;
      margin-right: auto;
      margin-left: auto;
      padding-top: 1px;
      padding-bottom: 20px;
      }
      
.box31b {
      width: auto;
      height:325px;
      margin-right: auto;
      margin-left: auto;
      padding-top: 1px;
      padding-bottom: 20px;
}
      
.box31c {
      width: auto;
      height:325px;
      margin-right: auto;
      margin-left: auto;
      padding-top: 1px;
      padding-bottom: 20px;
      }
      
/*------------------------------------------*/
/*Title*/
p31  {
    color: black;
    font-family: Georgia;
    font-size: 2em;
    width:auto;
    }
/*--------------------------*/
/*Title Boxes*/
.box32 {
        width: auto;
        margin-right: 10px;
        margin-left: 10px;
        }
/*--------------------------*/
/*Artist*/
p32 {
   color:black;
   font-family:Verdana;
   font-size: 1.25em;
   }
/*--------------------------*/
/*Lyrics All*/
p33 {
    color:black;
    font-family:Courier;
    font-size: 0.75em;
    }
/*------------------------------------------*/

/*Actor Wiki*/
.flex-container-bottom31 {
                       display: inline-flex;
                       background-color: #656370;
                       flex-direction: row;
                       justify-content: center;
                       align-items: center;
                       width: 80%;
                       margin-bottom: 10px;
                       padding-bottom: 1%;
                       padding-top: 1%;
                       }
/*--------------------------*/
.flex-container-bottom31 > div {
                             margin-left: auto;
                             margin-right: auto;
                             width: 25%;
                             }
/*------------------------------------------*/
/*Music links Not in Use*/
.flex-container-bottom32
 {
 display: inline-flex;
 background-color:#4B4444;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 width: 80%;
 margin-bottom: 10px;
 padding-bottom: 1%;
 padding-top: 1%;
 }
                        
.flex-container-bottom32 > div
 {
 margin-right: auto;
 margin-left: auto;
 width:25%;
 }
/*--------------------------*/
/*Links Wiki*/
p34 {
   color: white;
   font-family:Verdana;
   font-size: 1em;
   margin-top: 0.75%;
   margin-bottom: 0.75%;
   }

/*------------------------------------------*/

/*info*/
.flex-container-bottom33
 {
 background: black;
 position: fixed;
 left: 0;
 height: auto;
 width: 100%;
 margin-top: 2.5%;
 opacity: 60%;
 }

.box35 {
      width: 80%;
      height:auto;
      align-items:center;
      margin-right: 10%;
      margin-left: 10%;
      padding-top: 10px;
      padding-bottom: 10px;
      background: #28272B;
      align-items: auto;
      }

/*Who Is*/
p35 {
  color:white;
  font-family:verdana;
  font-size: 1em;
  margin-top:0.75%;
  margin-bottom:0.75%;
  }
  
/*Email*/
.flex-container-bottom34 {
                        display: inline-flex;
                        flex-direction: row;
                        background: #605D70;
                        justify-content: center;
                        align-items: center;
                        width: 175px  ;
                        margin-bottom: 0.5%;
                        padding-bottom: 0.5%;
                        padding-top: 0.5%;
                        }
                        
.flex-container-bottom34 > div {
                              margin-right: 0.5%;
                              margin-left:0.5%;
                              width:100%;
                              }
/*Email Creator*/
p36 {
  color:white;
  font-family:verdana;
  font-size: 1em;
  margin-top:0.75%;
  margin-bottom:0.75%;
  }
  
.btn32a
 {
 background: #171718;
 opacity: 1;
 border-radius: 10px;
 border: 2px solid white;
 cursor: pointer;
 color: white;
 font-family: Verdana;
 font-size: 1em;
 font-weight:bold;
 text-transform: uppercase;
 letter-spacing: 1px;
 padding: 5px 10px 5px 10px;
 margin-left:0.6%;
 margin-right:15.4%;

 }

.btn32b
 {
 background: #171718;
 opacity: 1;
 border-radius: 10px;
 border: 2px solid white;
 cursor: pointer;
 color: white;
 font-family: Verdana;
 font-size: 1em;
 font-weight:bold;
 text-transform: uppercase;
 letter-spacing: 1px;
 padding: 5px 10px 5px 10px;
 margin-left:16.1%;
 margin-right:1%;
 }


 
.alignV
  {
    position:relative;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
  }
  
.btn32a-space
{
  background: none;
  opacity: 0;
  width: 50px;
}

.btn32a:hover, .btn:focus
 {
  background-color: #59585F;
  color: black;
 }

.btn32b-space
{
  background: none;
  opacity: 0;
  width: 50px;
}

.btn32b:hover, .btn:focus
 {
  background-color: #59585F;
  color: black;
 }
/*--------------------------------------------------------------------------------------------------------*/
/*animations*/
a:link {
      color: cyan;
      background-color: transparent;
      }
/*--------------------------*/
a:active {
         color:purple;
         background-color: transparent;
         }
a:visited {
         color:white;
         background-color: transparent;
         }
/*--------------------------*/
a:hover {
         background-color:#B3ADA4;
         }
/*--------------------------*/
.popimg {
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        }
/*--------------------------*/
.popimg:hover {
              -webkit-transform: scale(1.1);
              -moz-transform: scale(1.1);
              -o-transform: scale(1.1);
              -ms-transform: scale(1.1);
              transform: scale(1.1);
              }


.w3-animate-down1
{
  position: relative;
  animation: animatedown1 1.2s;
}
@keyframes animatedown1 {
                      from { top: -70px;
                            opacity: 0
                          }
                      to  { top: 0;
                            opacity: 1
                          }
                      }
                      
.w3-animate-down2
{
  position: relative;
  animation: animatedown2 1.5s;
}
@keyframes animatedown2 {
                      from { top: -100px;
                            opacity: 0
                          }
                      to  { top: 0;
                            opacity: 1
                          }
                      }
.w3-animate-bob3
{
  position: relative;
  animation: animatebob 0.75s;
}
@keyframes animatebob {
                      from { top: 50px;
                            opacity: 0
                          }
                      to  { top: 0;
                            opacity: 1
                          }
                      }


.w3-animate-left
{
  position: relative;
  animation: animateleft 1.2s;
}
@keyframes animateleft {
                      from { left: -100px;
                             opacity: 0
                           }
                      to   { left: 0;
                             opacity: 1
                           }
                       }
.scale1
{
  position: relative;
  animation: animatescale 1s;
}
@keyframes animatescale {
  from { transform:scale(0.2);
}
to { transform: scale(1);
}


